{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "API Lanchonete",
    "description": "API REST Lanchonete"
  },
  "host": "devstudiosws.xyz",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "securityDefinitions": {
    "AccessToken": {
      "type": "apiKey",
      "in": "header",
      "name": "authorization"
    }
  },
  "paths": {
    "/registrar/user": {
      "post": {
        "description": "",
        "tags": ["Registrar"],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "admin@admin.com"
                },
                "senha": {
                  "example": "admin"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "412": {
            "description": "Precondition Failed"
          }
        }
      }
    },
    "/login/user": {
      "post": {
        "description": "",
        "tags": ["Login"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "admin@admin.com"
                },
                "senha": {
                  "example": "admin"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/criar/prato": {
      "post": {
        "description": "",
        "tags": ["Prato"],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "nome": {
                  "example": "Hamburguer"
                },
                "descricao": {
                  "example": "é um alimento em forma de sanduíche, feito geralmente de carne bovina, picada ou moída, grelhada, assada ou frita"
                },
                "ingredientes": {
                  "example": "Pão, Salada, Queijo, Ovo"
                },
                "valor": {
                  "example": "10.5"
                },
                "tempoPreparo": {
                  "example": "30"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/listrar/pratos": {
      "get": {
        "description": "",
        "tags": ["Prato"],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/listrar/prato/{id}": {
      "get": {
        "description": "",
        "tags": ["Prato"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/atualizar/prato/{id}": {
      "put": {
        "description": "",
        "tags": ["Prato"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "nome": {
                  "example": "Hamburguer"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/deletar/prato/{id}": {
      "delete": {
        "description": "",
        "tags": ["Prato"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/criar/pedidos": {
      "post": {
        "description": "",
        "tags": ["Pedido"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "mesa": {
                  "example": "1"
                },
                "pratos": {
                  "example": "4"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/listrar/pedidos": {
      "get": {
        "description": "",
        "tags": ["Pedido"],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/listrar/pedido/{id}": {
      "get": {
        "description": "",
        "tags": ["Pedido"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/atualizar/pedido/{id}": {
      "put": {
        "description": "",
        "tags": ["Pedido"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "atendimento": {
                  "example": "true"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/deletar/pedidos/{id}": {
      "delete": {
        "description": "",
        "tags": ["Pedido"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "security": [
    {
      "AccessToken": []
    }
  ]
}